* {
  box-sizing: border-box;  
}


html {
    font-size: 62.5%;
    
}


body {
font-family: 'Open Sans', sans-serif;
background-color:rgb(13, 160, 245);
background: url("./beach.jpg");
background-repeat: no-repeat;
background-size: cover;



}


section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 3rem 2rem;
    margin-top: 7rem;
}


h1 {
    font-size: 2.5rem;
    

}



.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 21rem);
    justify-content: center;
    gap: 3rem;
    color:rgb(100, 100, 100);
}


.el {
    border-radius: 5%;
    height: 32rem;
    background-color: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    box-shadow: 0 25px 25px rgba(0,0,0,0.1);
    transition: 1s;
    text-align: center;
    padding-top: 1.5rem;

}

.el:hover {
    transform: scale(1.1);
    background-color: rgba(255,255,255,0.1);    
}



